:root {
  font-family: 'Chivo', sans-serif;
  font-size: 20px;
  line-height: 1.3em;
  --main-text-colour: black;
  color: var(--main-text-colour);
}

html,
body,
body div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
time,
mark,
audio,
video,
a {
  background: transparent;
  border: 0;
  font-size: 100%;
  font-weight: inherit;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
}

a {
  color: var(--main-text-colour);
  text-decoration: none;
  &:hover {
    border-bottom: solid var(--main-text-colour) 1px;
    box-shadow: 0 -0.1em 0 var(--main-text-colour) inset;
  }
}

section {
  align-items: center;
  display: flex;
  justify-content: center;
  min-height: 100vh;
  padding: 2rem;
  position: relative;
  * {
    z-index: 1;
  }
}

.page-enter-active {
  animation: upwardsIn 0.5s ease-out both;
}

.page-leave-active {
  animation: upwardsOut 0.1s ease-in both;
}

@keyframes upwardsIn {
  0% {
    transform: translate3d(0, 1rem, 0);
    opacity: 0;
  }
  75% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    opacity: 1;
  }
}

@keyframes upwardsOut {
  0% {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
  100% {
    transform: translate3d(0, -1rem, 0);
    opacity: 0;
  }
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
}
