/*

Reset CSS and define standard colours etc. Actual styling is done in the vue components such as default.vue

 */

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url('~assets/font/Inter-Light-BETA.woff2?v=3.11') format('woff2'),
    url('~assets/font/Inter-Light-BETA.woff?v=3.11') format('woff');
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  font-feature-settings: var(--main-text-features);
  src: url('~assets/font/Inter-Regular.woff2?v=3.11') format('woff2'),
    url('~assets/font/Inter-Regular.woff?v=3.11') format('woff');
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  font-feature-settings: var(--main-text-features);
  src: url('~assets/font/Inter-Medium.woff2?v=3.11') format('woff2'),
    url('~assets/font/Inter-Medium.woff?v=3.11') format('woff');
}

@font-face {
  font-family: 'Inter';
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  font-feature-settings: var(--main-text-features);
  src: url('~assets/font/Inter-SemiBoldItalic.woff2?v=3.11') format('woff2'),
    url('~assets/font/Inter-SemiBoldItalic.woff?v=3.11') format('woff');
}

:root {
  --main-font-family: 'Inter', sans-serif;
  --main-text-colour: black;
  --main-text-features: 'liga', 'dlig', 'zero', 'ss03', 'cv02', 'cv03', 'cv04',
    'cv07', 'cv08', 'cv09';
  color: var(--main-text-colour);
  font: {
    family: var(--main-font-family);
    weight: 400;
    size: 18px;
  }
  letter-spacing: -0.014em;
  line-height: 1.6;

  @media screen and (min-width: 750px) and (min-height: 400px) {
    font-size: 20px;
    letter-spacing: -0.017;
  }
  @media screen and (min-width: 1500px) {
    font-size: 25px;
    letter-spacing: -0.019em;
  }
}

html,
body,
body div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
time,
mark,
audio,
video,
a {
  background: transparent;
  border: 0;
  font-size: 100%;
  font-weight: inherit;
  font-style: normal;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
}

@keyframes upwardsIn {
  0% {
    transform: translate3d(0, 1rem, 0);
    opacity: 0;
  }
  75% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    opacity: 1;
  }
}

@keyframes upwardsOut {
  0% {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
  100% {
    transform: translate3d(0, -1rem, 0);
    opacity: 0;
  }
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
}
