@import '../../../node_modules/mathsass/dist/math'; // libSass comes without math module

$phi: (1 + sqrt(5)) / 2;

$ratio: pow($phi, 0.5);

$scale-12: pow($ratio, -12) * 1rem;
$scale-11: pow($ratio, -11) * 1rem;
$scale-10: pow($ratio, -10) * 1rem;
$scale-9: pow($ratio, -9) * 1rem;
$scale-8: pow($ratio, -8) * 1rem;
$scale-7: pow($ratio, -7) * 1rem;
$scale-6: pow($ratio, -6) * 1rem;
$scale-5: pow($ratio, -5) * 1rem;
$scale-4: pow($ratio, -4) * 1rem;
$scale-3: pow($ratio, -3) * 1rem;
$scale-2: pow($ratio, -2) * 1rem;
$scale-1: pow($ratio, -1) * 1rem;
$scale0: pow($ratio, 0) * 1rem;
$scale1: pow($ratio, 1) * 1rem;
$scale2: pow($ratio, 2) * 1rem;
$scale3: pow($ratio, 3) * 1rem;
$scale4: pow($ratio, 4) * 1rem;
$scale5: pow($ratio, 5) * 1rem;
$scale6: pow($ratio, 6) * 1rem;
$scale7: pow($ratio, 7) * 1rem;
$scale8: pow($ratio, 8) * 1rem;
$scale9: pow($ratio, 9) * 1rem;
$scale10: pow($ratio, 10) * 1rem;
$scale11: pow($ratio, 11) * 1rem;
$scale12: pow($ratio, 12) * 1rem;
$scale13: pow($ratio, 13) * 1rem;
$scale14: pow($ratio, 14) * 1rem;
$scale15: pow($ratio, 15) * 1rem;
