@import '../../../node_modules/mathsass/dist/math'; // libSass comes without math module
@import 'scale';
@import 'util';

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url('~assets/font/Inter-Light-BETA.woff2?v=3.11') format('woff2'),
    url('~assets/font/Inter-Light-BETA.woff?v=3.11') format('woff');
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  font-feature-settings: var(--main-text-features);
  src: url('~assets/font/Inter-Regular.woff2?v=3.11') format('woff2'),
    url('~assets/font/Inter-Regular.woff?v=3.11') format('woff');
}

@font-face {
  font-family: 'Inter';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  font-feature-settings: var(--main-text-features);
  src: url('~assets/font/Inter-Italic.woff2?v=3.11') format('woff2'),
    url('~assets/font/Inter-Italic.woff?v=3.11') format('woff');
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  font-feature-settings: var(--main-text-features);
  src: url('~assets/font/Inter-Medium.woff2?v=3.11') format('woff2'),
    url('~assets/font/Inter-Medium.woff?v=3.11') format('woff');
}

@font-face {
  font-family: 'Inter';
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  font-feature-settings: var(--main-text-features);
  src: url('~assets/font/Inter-SemiBoldItalic.woff2?v=3.11') format('woff2'),
    url('~assets/font/Inter-SemiBoldItalic.woff?v=3.11') format('woff');
}

// Variables and mixins
$rem: 18px;

// Dynamic metrics for Inter UI
// see https://rsms.me/inter/dynmetrics/
$a: -0.0223;
$b: 0.185;
$c: -0.15; // Standard is -0.1745
@function letter-spacing($font-size) {
  @return $a + $b * pow($E, ($c * $font-size * strip-unit($rem))) * 1em; // '' -> em
}

@mixin font-scale-2 {
  $font-size: $scale-2;
  font-size: $font-size * 1rem;
  letter-spacing: letter-spacing($font-size);
}
@mixin font-scale-1 {
  $font-size: $scale-1;
  font-size: $font-size * 1rem;
  letter-spacing: letter-spacing($font-size);
}
@mixin font-scale0 {
  $font-size: $scale0;
  font-size: $font-size * 1rem;
  letter-spacing: letter-spacing($font-size);
}
@mixin font-scale1 {
  $font-size: $scale1;
  font-size: $font-size * 1rem;
  letter-spacing: letter-spacing($font-size);
}
@mixin font-scale2 {
  $font-size: $scale2;
  font-size: $font-size * 1rem;
  letter-spacing: letter-spacing($font-size);
  line-height: $scale1;
}
@mixin font-scale3 {
  $font-size: $scale3;
  font-size: $font-size * 1rem;
  letter-spacing: letter-spacing($font-size);
  line-height: $scale1;
}
@mixin font-scale4 {
  $font-size: $scale4;
  font-size: $font-size * 1rem;
  letter-spacing: letter-spacing($font-size);
  line-height: $scale1;
}
@mixin font-scale5 {
  $font-size: $scale5;
  font-size: $font-size * 1rem;
  letter-spacing: letter-spacing($font-size);
  line-height: $scale1;
}
@mixin font-scale6 {
  $font-size: $scale6;
  font-size: $font-size * 1rem;
  letter-spacing: letter-spacing($font-size);
  line-height: $scale1;
}

:root {
  --main-font-family: 'Inter', sans-serif;
  --main-text-colour: black;
  --main-text-features: 'liga', 'dlig', 'zero', 'ss03', 'cv02', 'cv03', 'cv04',
    'cv07', 'cv08', 'cv09';
  color: var(--main-text-colour);
  font: {
    family: var(--main-font-family);
    weight: 400;
    size: $rem;
  }

  line-height: $scale2;

  @media screen and (min-width: 750px) and (min-height: 400px) {
    $rem: 20px;
    font-size: $rem;
  }
  @media screen and (min-width: 1500px) {
    $rem: 25px;
    font-size: $rem;
  }
}
